* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: paleturquoise;
    overflow-x: hidden;
}
header {
    background: white;
    padding: 20px;
    width: 100%;
}
header > h1 {
    color: #292C34;
    text-align: center;
    font-family: sans-serif;
}
p {
    font-family: calibri;
}
#canvas {
    background-color: palegreen;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
}
#graphs {
    background-color: white;
    border-style: solid;
    border-width: 4px;  
    display: inline-flex; 
}
#paragraph {
    width:850px;
    margin-left: 1%;
}
#boxGroup {
    margin-top: 2%;
    margin-left: 2%;
    padding: 5px 5px 5px 5px;
    display: inline-flex;
    width: 800px;
    height: 150px;
}
.box {
    margin-left: 2%;
    margin-top: 2%;
    width: 40%;
    height: 77%;
    border-style: solid;
    border-color: black; 
    text-align: center;
}
#list{ 
    margin-left: 30px;
    font-family: calibri;
}
#button {
    font-size: 18;
}
